ckpt
prompt_files
cache
common_word_pairs.pkl
gensim-vector.tmp
model_hub

metric_files

# huggingface dataset
analogy_questions
semeval2012_relational_similarity
fewshot_link_prediction
t_rex
t_rex_relation_similarity
conceptnet_high_confidence
conceptnet
nell
nell_relational_similarity